#!/usr/bin/env bash

set -eo pipefail

# .mise.toml hash: {{ include ".mise.toml" | sha256sum }}
# Makefile hash: {{ include "Makefile" | sha256sum }}

export PATH=$HOME/.local/bin:$HOME/.local/share/aquaproj-aqua/bin:$PATH
export AQUA_GLOBAL_CONFIG=$HOME/.config/aquaproj-aqua/aqua.yaml

cd {{ .chezmoi.sourceDir | quote }}

aqua i
mise trust .mise.toml
mise settings set experimental true
mise settings set python.compile true
mise install
mise exec -- pre-commit install
