{{/* skip apply .gitconfig on devcontainer */}}
{{ $git_name := "" }}
{{ $git_email := "" }}
{{- if ne (env "REMOTE_CONTAINERS") "true" }}
{{ $git_name := promptStringOnce . "git_name" "What is your name for git." }}
{{ $git_email := promptStringOnce . "git_email" "What is your email for git." }}
{{- end }}

[edit]
    command = "vim"
    apply = true

[data]
    git_name = {{ $git_name | quote }}
    git_email = {{ $git_email | quote }}

