.editorconfig
.github/
install.sh
LICENSE
README.md
.vscode/
vscode/
Makefile
files/
{{- if eq (env "REMOTE_CONTAINERS") "true" }}
{{/* skip apply .gitconfig on devcontainer */}}
/.gitconfig
{{- end }}

{{/* shellspec */}}
spec/
**/*_spec.sh
/coverage/
