root = true

[*]
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8

[*.{json,json5}]
indent_size = 2

[{Makefile*,*.mk}]
indent_style = tab

[*.{yml,yaml}]
indent_size = 2

[*.{tf,hcl,tftpl}]
indent_size = 2

[dot_claude/**]
indent_size = unset
