[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    name = {{ .git_name }}
    email = {{ .git_email | quote }}
[core]
    autocrlf = false
    pager = LESSCHARSET=utf-8 less
[pull]
    rebase = false
    ff = only
[push]
    #autoSetupRemote = true
[init]
    defaultBranch = main
