
command -v mise &> /dev/null && \
    eval "$(mise activate bash)" && \
    eval "$(mise completion bash)"
while read cmd
do
    if command -v $cmd &> /dev/null; then
        source <($cmd completion bash)
    fi
done <<EOF
aqua
argocd
EOF

# terraform and etc.
while read cmd
do
    if command -v $cmd &> /dev/null; then
        complete -C $(command -v $cmd) $cmd
    fi
done << EOF
terraform
terragrunt
tofu
EOF

# git
if [ -f ~/.git-completion.sh ]; then
    source ~/.git-completion.sh
fi
if [ -f ~/.git-prompt.sh ]; then
    source ~/.git-prompt.sh
fi

export PS1='[\[\033[32m\]\u\[\033[00m\]:\[\033[33m\]\w\[\033[00m\]]\[\033[36m\]$(__git_ps1 " (%s)")\[\033[00m\]\n\$ '

# gh
if command -v gh &> /dev/null; then
    eval "$(gh completion -s bash)"
fi

# direnv
if command -v direnv &> /dev/null; then
    eval "$(direnv hook bash)"
fi

while read cmd
do
    if command -v $cmd &> /dev/null; then
        eval "$($cmd completion bash)"
    fi
done << EOF
kubectl
helm
helmfile
kustomize
devpod
EOF

command -v rustup &> /dev/null && \
    eval "$(rustup completions bash)" && \
    eval "$(rustup completions bash cargo)"

{{ completion "bash" }}
