export EDITOR=nvim
export VISUAL=nvim
#export LANG=en_US.UTF-8
export LESS="-Q -i -R"

if [[ ! "$PATH" =~ ~/bin ]]; then
    export PATH=~/bin:$PATH
fi

if [[ ! "$PATH" =~ ~/.local/bin ]]; then
    export PATH=~/.local/bin:$PATH
fi

if test -f /home/linuxbrew/.linuxbrew/bin/brew; then
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

# mise
{{- if not .is_in_container }}
# change default env to avoid using in dev-containers as it may conflict with container tools.
export MISE_CONFIG_FILE=$HOME/.config/mise/config-global.toml
{{- end }}

# enable aqua after other tools.
# https://zenn.dev/shunsuke_suzuki/books/aqua-handbook/viewer/tips
if test -f ~/.local/share/aquaproj-aqua/bin/aqua && ! command -v aqua &>/dev/null; then
    export PATH=~/.local/share/aquaproj-aqua/bin:$PATH
fi
export AQUA_GLOBAL_CONFIG=$HOME/.config/aquaproj-aqua/aqua.yaml
export AQUA_DISABLE_GITHUB_ARTIFACT_ATTESTATION={{ .aqua_disable_github_artifact_attestation }}

# proxy
{{- if .http_proxy }}
export http_proxy={{ .http_proxy }}
export HTTP_PROXY=$http_proxy
{{- end }}
{{- if .https_proxy }}
export https_proxy={{ .https_proxy }}
export HTTPS_PROXY=$https_proxy
{{- end }}
{{- if .no_proxy }}
export no_proxy={{ .no_proxy }}
export NO_PROXY=$no_proxy
{{- end }}

if command -v tenv &> /dev/null; then
    export TENV_AUTO_INSTALL=true
fi
