
command -v mise &> /dev/null && \
    eval "$(mise activate bash)" && \
    eval "$(mise completion bash)"
command -v aqua &> /dev/null && source <(aqua completion bash)

# terraform
if command -v terraform &> /dev/null; then
   #$(command -v terraform) -install-autocomplete 2>/dev/null
   complete -C $(command -v terraform) terraform
fi
# terragrunt
if command -v terragrunt &> /dev/null; then
   #$(command -v terragrunt) -install-autocomplete 2>/dev/null
   complete -C $(command -v terragrunt) terragrunt
fi
# aws
if command -v aws_completer &> /dev/null; then
   complete -C "$(command -v aws_completer)" aws 
fi

# git
if [ -f ~/.git-completion.sh ]; then
    source ~/.git-completion.sh
fi
if [ -f ~/.git-prompt.sh ]; then
    source ~/.git-prompt.sh
fi

export PS1='[\[\033[32m\]\u\[\033[00m\]:\[\033[33m\]\w\[\033[00m\]]\[\033[36m\]$(__git_ps1 " (%s)")\[\033[00m\]\n\$ '

# gh
if command -v gh &> /dev/null; then
    eval "$(gh completion -s bash)"
fi

# direnv
if command -v direnv &> /dev/null; then
    eval "$(direnv hook bash)"
fi

commands=(
    "kubectl" \
    "helm" \
    "helmfile" \
    "kustomize"
)
for cmd in ${commands[@]}
do
    if command -v $cmd &> /dev/null; then
        eval "$($cmd completion bash)"
    fi
done

{{ completion "bash" }}
