[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    name = {{ .git_name }}
    email = {{ .git_email | quote }}
{{- if .git_signingkey }}
    signingkey = {{ .git_signingkey }}
{{- end }}
[core]
    autocrlf = false
    pager = LESSCHARSET=utf-8 less
    editor = nvim
[commit]
    verbose = true
{{- if .git_signingkey }}
    gpgsign = true
{{- end }}
[tag]
{{- if .git_signingkey }}
    gpgsign = true
{{- end }}
[pull]
    rebase = false
    ff = only
[push]
    #autoSetupRemote = true
[init]
    defaultBranch = main
[credential "https://github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
[alias]
    ft = fetch
    co = checkout
    log-npo = !"git --no-pager log --oneline"
    prn = fetch --prune
    push-f = push --force-with-lease --force-if-includes

