# ~/.profile: executed by Bourne-compatible login shells.

export PATH=~/.local/bin:~/bin:$PATH

export EDITOR=nvim
export VISUAL=nvim
#export LANG=en_US.UTF-8
export LESS="${LESS} -Q -i -R"

if test -f /home/linuxbrew/.linuxbrew/bin/brew; then
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

if test -f ~/.local/share/aquaproj-aqua/bin/aqua && ! command -v aqua &>/dev/null; then
    export PATH=~/.local/share/aquaproj-aqua/bin:$PATH
fi
export AQUA_GLOBAL_CONFIG=$HOME/.config/aquaproj-aqua/aqua.yaml


# mise
{{ if not .is_in_container }}
# change default env to avoid using in dev-containers as it may conflict with container tools.
export MISE_CONFIG_FILE=$HOME/.config/mise/config-global.toml
{{ end }}

mesg n 2> /dev/null || true
