#!/usr/bin/env bash

sudo apt update && sudo apt install -y \
    curl \
    bash-completion \
    make \
    vim \
    tree \
    socat \
    software-properties-common \
    apt-file \
    p7zip-full \
    unzip \
    lsof \
    inotify-tools \
    locales \
    build-essential \
    zlib1g-dev \
    libssl-dev zlib1g-dev \
    libbz2-dev libreadline-dev libsqlite3-dev \
    libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev \
    ;

# python3 dependencies
sudo apt install -y \
    build-essential \
    zlib1g-dev \
    libncurses5-dev \
    libgdbm-dev \
    libnss3-dev \
    libssl-dev \
    libreadline-dev \
    libffi-dev \
    libsqlite3-dev \
    libbz2-dev \
    liblzma-dev \
    wget \
    ;

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") -}}
sudo add-apt-repository -y ppa:git-core/ppa && sudo apt update &&
{{- end }}
    sudo apt install -y \
        git \
        tig \
    ;

{{ if .is_wsl2 -}}
sudo add-apt-repository -y ppa:wslutilities/wslu &&
    sudo apt update &&
    sudo apt install -y --no-install-recommends wslu
{{- end }}

curl -o $HOME/.git-completion.sh -sL \
    https://raw.githubusercontent.com/git/git/master/contrib/completion/git-completion.bash
curl -o $HOME/.git-prompt.sh -sL \
    https://raw.githubusercontent.com/git/git/master/contrib/completion/git-prompt.sh

# install homebrew if not exists
command -v brew &>/dev/null ||
    test -f /home/linuxbrew/.linuxbrew/bin/brew ||
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" || true
