#!/usr/bin/env bash

set -eo pipefail

# misc
cd /tmp
curl -fsSL "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb"
sudo dpkg -i session-manager-plugin.deb
session-manager-plugin

AWS_SAM_CLI_PRIMARY_FINGERPRINT=$(gpg --import {{ joinPath .chezmoi.sourceDir "files/gpg-keys/aws-sam-cli-primary-public-key.txt" | quote }} 2>&1 | grep "gpg: key " | sed -r "s/gpg: key ([0-9A-F]+):.*/\1/")
AWS_SAM_CLI_SIGNER_FINGERPRINT=$(gpg --import {{ joinPath .chezmoi.sourceDir "files/gpg-keys/aws-sam-cli-signer-public-key.txt" | quote }} 2>&1 | grep "gpg: key " | sed -r "s/gpg: key ([0-9A-F]+):.*/\1/")
gpg --fingerprint ${AWS_SAM_CLI_SIGNER_FINGERPRINT} | grep "37D8 BE16 0355 2DA7 BD6A  04D8 C7A0 5F43 FE0A DDFA" || exit 1

gpg --check-sigs ${AWS_SAM_CLI_PRIMARY_FINGERPRINT} && gpg --check-sigs ${AWS_SAM_CLI_SIGNER_FINGERPRINT}

curl -fsSLO https://github.com/aws/aws-sam-cli/releases/latest/download/aws-sam-cli-linux-x86_64.zip.sig
curl -fsSLO https://github.com/aws/aws-sam-cli/releases/latest/download/aws-sam-cli-linux-x86_64.zip

gpg --verify aws-sam-cli-linux-x86_64.zip.sig aws-sam-cli-linux-x86_64.zip | grep "Bad signature" && exit 1
unzip -o aws-sam-cli-linux-x86_64.zip -d ./aws-sam-cli
sudo ./aws-sam-cli/install --update
sam --version
cd - &>/dev/null
