#!/bin/bash

{{ if and (eq .chezmoi.os "linux") (contains "WSL2" .chezmoi.kernel.osrelease) }}

if [ ! -z $REMOTE_CONTAINERS ] || [ ! -z $CODESPACES ] || [ -f /.dockerenv ] ; then
    echo "do not run in container this script".
    exit 0
fi

brew install neovim
# neovim + vscode + wsl2
# note: vscode-neovim won't load bashrc or profile, so put exe globally.
sudo mkdir -p /usr/local/bin
cd /usr/local/bin
for download in \
    "https://github.com/kaz399/spzenhan.vim/raw/master/zenhan/spzenhan.exe" \
    "https://github.com/suzusime/uclip/releases/download/v0.1.0/uclip.exe" \
    ; \
do
    test ! -f $(basename $download) && \
        sudo curl -fsSLO $download
    sudo chmod a+x $(basename $download)
done

for download_exe in \
    "https://github.com/equalsraf/win32yank/releases/download/v0.1.1/win32yank-x64.zip|win32yank.exe" \
    ; \
do
    download=$(echo $download_exe | cut -d '|' -f 1)
    exe=$(echo $download_exe | cut -d '|' -f 2)
    test ! -f $(basename $download) && \
        sudo curl -fsSLO $download
    test ! -f $exe && \
        $(basename $download | grep -q .zip) && \
        unzip -p $(basename $download) $exe | sudo tee $exe > /dev/null
    sudo chmod a+x $exe
    # You need to install both windows and wsl2...
    win_bin_dir=$(wslpath $(wslvar USERPROFILE))/AppData/Local/bin
    mkdir -p $win_bin_dir
    cp $exe $win_bin_dir
done

cd -
sudo apt install -y nkf

{{ end }}
