#!/usr/bin/env bash

set -eo pipefail

# setup path for not login shell
test -f /home/linuxbrew/.linuxbrew/bin/brew && \
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# install by brew
install_by_brew=(
    "aquaproj/aqua/aqua" \
    # not managed by aqua or for some reasons.
    "nvim" # for vscode-neovim
)
for inst in ${install_by_brew[@]}
do
    brew install $inst
done

# remove nvim managed by aqua if exists for vscode-neovim.
test -f "$(aqua root-dir)/bin/nvim" && rm "$(aqua root-dir)/bin/nvim"

{{/* install cli globally except for a dev-container. */}}
{{ if not .is_in_container }}
# install cli globally by aqua. aqua.yaml hash: {{ include "dot_config/aquaproj-aqua/aqua.yaml" | sha256sum }}
export AQUA_GLOBAL_CONFIG=$HOME/.config/aquaproj-aqua/aqua.yaml
aqua install --all
{{ end }}

RTX_INSTALL_PATH=$HOME/.local/bin/rtx
test -f $RTX_INSTALL_PATH || \
    curl https://rtx.pub/install.sh | RTX_INSTALL_PATH=$RTX_INSTALL_PATH sh
{{/* install cli globally except for a dev-container. */}}
{{ if not .is_in_container }}
# install cli globally by rtx. rtx/config-global.toml hash: {{ include "dot_config/rtx/config-global.toml" | sha256sum }}
# change default env to avoid using in dev-containers as it may conflict with container tools.
RTX_CONFIG_FILE=$HOME/.config/rtx/config-global.toml rtx install
{{ end }}

# misc
cd /tmp
curl -fsSL "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb"
sudo dpkg -i session-manager-plugin.deb
session-manager-plugin
cd - &>/dev/null
