#!/usr/bin/env bash

set -eo pipefail

# setup path for not login shell
test -f /home/linuxbrew/.linuxbrew/bin/brew &&
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# install by brew
install_by_brew=(
    "aquaproj/aqua/aqua"
    # not managed by aqua or for some reasons.
    # for vscode-neovim
    "nvim"
    "kcov"
)
for inst in "${install_by_brew[@]}"; do
    brew install $inst
done

# remove nvim managed by aqua if exists for vscode-neovim.
test -f "$(aqua root-dir)/bin/nvim" && rm "$(aqua root-dir)/bin/nvim"

{{ if not .is_in_container -}}
{{/* install cli globally except for a dev-container. -*/}}
# install cli globally by aqua. aqua.yaml hash: {{ include "dot_config/aquaproj-aqua/aqua.yaml" | sha256sum }}
export AQUA_GLOBAL_CONFIG=$HOME/.config/aquaproj-aqua/aqua.yaml
aqua install --all
export PATH="$(aqua root-dir)/bin:$PATH"

# install cli globally by mise. mise/config-global.toml hash: {{ include "dot_config/mise/config-global.toml" | sha256sum }}
# change default env to avoid using in dev-containers as it may conflict with container tools.
MISE_JOBS=$(fgrep 'processor' /proc/cpuinfo | wc -l) MISE_CONFIG_FILE=$HOME/.config/mise/config-global.toml mise install
{{ end }}

# misc
cd /tmp
curl -fsSL "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb"
sudo dpkg -i session-manager-plugin.deb
session-manager-plugin
cd - &>/dev/null
