{{ $is_in_container := false }}
{{- if or
    (eq (env "REMOTE_CONTAINERS") "true")
    (eq (env "CODESPACES") "true")
    (stat "/.dockerenv")
-}}
{{ $is_in_container = true }}
{{- end -}}
is_in_container = {{ $is_in_container }}

{{ $is_wsl2 := false }}
{{- if and
    (eq .os "linux")
    (contains "WSL2" .kernel.osrelease)
-}}
{{ $is_wsl2 = true }}
{{- end -}}
is_wsl2 = {{ and $is_wsl2 (not $is_in_container) }}

{{ $windows_bin_path := "" }}
{{- if $is_wsl2 -}}
{{ $windows_userprofile := output "wslpath" (output "wslvar" "USERPROFILE" | trim) | trim }}
{{ $windows_bin_path = printf "%s/AppData/Local/bin" $windows_userprofile }}
{{- end -}}
windows_bin_path = {{ $windows_bin_path | quote }}
