name: "Update PRs auto merge enabled"

on:
  push:
    branches:
      - main

permissions: {}

jobs:
  update-auto-merge-enabled:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: gh-app-token
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PEM_FILE }}
          permission-contents: write
          permission-pull-requests: write
          permission-workflows: write
      - name: update
        uses: air-hand/common-actions/update-prs-auto-merge-enabled@659c7ba424d838f6ff71e7e5f0a06a346675ad2a # v1.3.0
        with:
          token: ${{ steps.gh-app-token.outputs.token }}
          base_branch: main
          # Using 'merge' as the update method to avoid commit signature issues.
          update_method: merge
